@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/** variables **/
:root {
  --color-primary: #3b1594;
  --color-secundary: #f0f8ff;

  --fnsz-700: clamp(2.25rem, calc(2.03rem + 0.94vw), 2.88rem);

  --space-500: clamp(1.5rem, calc(1.02rem + 2.07vw), 2.88rem);

  /** templeating **/

  --bgk-body: var(--color-primary);
  --bgk-form: var(--color-secundary);
  --bgk-inp-login: var(--color-primary);
}

/** globals **/

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgk-body);
}

input {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

/** own styles **/

header.header h1 {
  text-align: center;
  font-size: var(--fnsz-700);
  margin-top: 0;
}

div.container-login {
  min-width: 400px;
  background-color: var(--bgk-form);
  border-radius: 0.5rem;
  padding: var(--space-500);
}

@media (min-width: 768px) {
  div.container-login {
    width: 500px;
  }
}

div.container-input {
  margin-bottom: 1.5rem;
}

div.container-input-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  border-radius: 1.5rem;
  padding: 1rem 0.75rem;
  border-bottom: 2px solid var(--color-primary);
}

div.container-input input.input {
  width: 100%;
  outline: none;
  height: 2rem;
}

input.inp-login {
  width: 100%;
  background-color: var(--bgk-inp-login);
  color: white;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
}

input.inp-login:hover,
input.inp-login:focus {
  opacity: 0.9;
}

div.login-bottom {
  text-align: center;
}

div.login-bottom a {
  color: var(--color-primary);
  font-weight: 500;
}

div.invalid {
  border: 2px solid red;
}

span.message {
  display: inline-block;
  width: 100%;
  margin-top: 0.5rem;
  color: red;
  /* background-color: red; */
  /* text-align: center; */
  /* padding: 0.5rem; */
  /* border-radius: 0.5rem; */
}

.container-send-form {
  background-color: #3b1594;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 50px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.notShow {
  display: none;
}

h1.hd-welcome {
  color: white;
  font-size: 5rem;
}
